@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
:root {
  font-size: 1em;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0;
  background-color: #1e1e1e;
  color: #fff;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/******************************** Container section ***************************/
.container-m {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0.75em 0.625em 0;
}

/******************************** Header section ****************************/
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__list {
  display: flex;
  gap: 3.75em;
}
.header__link {
  font-size: 1.125rem;
  text-transform: uppercase;
}
/******************************** Logo section ****************************/
/******************************** Main section ****************************/
.container-s {
  max-width: 1110px;
  margin: 0 auto;
  padding: 4vw 0.625em 0;
}

/******************************** Hello section ****************************/
.hello {
  background-color: #fff;
  color: black;
  padding: 5vw;
  border-radius: 1.875em;
  margin: 5vw 0.625em 0;
}
.hello__list {
  display: flex;
  flex-wrap: wrap;
}
.hello__item--white {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
  padding: 5px 10px;
  text-align: center;
  text-transform: uppercase;
  min-width: 140px;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-left {
  gap: 3px;
}

.list-right {
  display: flex;
  gap: 18px;
  justify-content: center;
}

/******************************** About section ****************************/
.about {
  display: flex;
  justify-content: center;
  gap: 45px;
}
.about__title {
  text-transform: uppercase;
  margin-top: 16px;
}
.about__desc {
  max-width: 535px;
}

.interests {
  text-align: center;
}
.interests__title {
  text-transform: uppercase;
}
.interests__items {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
.interests__item {
  flex-basis: 32%;
  border-radius: 20px;
  padding: 40px;
  background-color: rgb(39, 45, 43);
}

.menu__btn {
  display: none;
}

@media (max-width: 768px) {
  .menu__btn {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 27px;
    height: 18px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .menu__btn span {
    height: 1.5px;
    width: 100%;
    background-color: #fff;
  }
  .header__list {
    display: none;
  }
  .logo__img {
    width: 170px;
    height: 35px;
  }
  .about {
    flex-direction: column;
    gap: 0;
  }
  .about__title {
    text-align: center;
  }
  .about__desc {
    margin: 0 auto;
    text-align: center;
  }
  .interests__items {
    margin: 0 auto;
  }
  .interests__item {
    padding: 20px;
    flex-basis: 48%;
  }
}
@media (max-width: 480px) {
  .interests__items {
    gap: 7px;
  }
  .interests__item {
    padding: 10px;
    flex-basis: 45%;
  }
}/*# sourceMappingURL=style.css.map */