@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
html {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: #1e1e1e;
  color: #fff;
  font-weight: 400;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.header {
  border-bottom: 1px solid rgba(39, 45, 43, 1);
  // .header__nav

  &__nav {
  }
  @media (max-width: 576px) {
    &__nav {
      display: none;
    }
  }
  // .header__list

  &__list {
    display: flex;
    gap: 60px;
    align-items: center;
  }

  // .header__item

  &__item {
  }
  &__item--active {
    background-color: rgba(47, 54, 52, 1);
    border-radius: 41px;
    padding: 10px 28px;
  }

  // .header__link

  &__link {
    word-spacing: 6px;
    letter-spacing: 1px;
    font-size: 18px;
    text-transform: uppercase;
  }
}
.container {
  max-width: 1370px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
}
.logo {
  // .logo__link

  &__link {
    font-size: 45px;
    font-style: italic;
    font-weight: inherit;
  }

  // .logo__img

  &__img {
  }
}
.main {
}
.hello {
  margin: 0 auto;
  align-items: center;
  border-radius: 41px;
  padding: 40px;
  background-color: #fff;
  min-width: 576px;
  // .about__title

  &__title {
    color: black;
  }

  // .about__text

  &__text {
    color: black;
  }

  // .about__list

  &__list {
    display: flex;
    align-items: center;
  }

  // .about__item

  &__item {
  }

  // .about__link

  &__link {
    text-align: center;
    color: rgb(0, 0, 0);
  }

  // .about__img

  &__img {
  }
  &__item--white {
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
    max-height: 30px;
    background-color: #fff;
    border: 1px solid black;
  }

  // .hello__item--black

  &__item--black {
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
    max-height: 30px;
    background-color: rgb(0, 0, 0);
    border: 1px solid black;
  }
  &__item--black a {
    color: rgb(220, 215, 215);
  }
}
.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.list-left {
}
.list-right {
  gap: 25px;
}
@media (max-width: 576px) {
  body {
    font-size: 16px;
  }
}
